@use "variables" as *;


%button {
    cursor: pointer;

    .cta_arrow-container {
        transition: transform 550ms $ease-out-quart, opacity 550ms $ease-out-quart, visibility 550ms $ease-out-quart, background-color 750ms $ease-out-quart, border-radius 550ms $ease-out-quart, color 550ms $ease-out-quart;
        opacity: 1;
        visibility: visible;
    
        &:last-child {
            transform: scale(0) translateX(-6rem) rotate(-10deg);
            opacity: 0;
            visibility: hidden;
        }
    }

    .button_label{
        transition: transform 550ms $ease-out-quart;
    }

    @media (pointer: fine) {
        &:hover {
            .cta_arrow-container:last-child {
                transform: scale(1) translateX(-3rem) rotate(0deg);
                opacity: 1;
                visibility: visible;
            }

            .cta_arrow-container:first-child {
                transform: scale(0) translateX(2rem) rotate(10deg);
                opacity: 0;
                visibility: hidden;
            }

            .button_label{
                transform: translateX(-3rem);
            }
        }
    }
}
